<%- include("partials/_bs_header", {title: "homepage"}) %>

<%- include("partials/_navbar") %>

<div class="container">
  <div class="alert alert-primary w-50" role="alert">
    Na'Vi sent you an invite to play for their team
    <a href="#" class="btn btn-primary" role="button">Join</a>
    <a href="#" class="btn btn-danger" role="button">Reject</a>
  </div>
</div>

<div class="container">
  <h1 class="text-white bg-dark w-50">availabe team</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Ask to Join</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Na'Vi</td>
        <td><a href="#" class="btn btn-primary" role="button">Request to Join</a></td>
      </tr>
      <tr>
        <td>Fnatic</td>
        <td><a href="#" class="btn btn-primary" role="button">Request to Join</a></td>
      </tr>
      <tr>
        <td>OG</td>
        <td><a href="#" class="btn btn-primary" role="button">Request to Join</a></td>
      </tr>
    </tbody>
  </table>
</div>


<%- include("partials/_bs_footer") %>
