<%- include("partials/_bs_header", {title: "register page"}) %>

<div class="container">
  <h1 class="text-light bg-dark"> 5Rookie <span class="badge badge-secondary mx-auto">Register Here, Rookie !</span></h1>
  <form action="/register" method="post">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>

    <div class="form-group">
      <label for="nickname">Nickname</label>
      <input type="text" class="form-control" placeholder="Nickname" name="nickname">
    </div>

    <div class="form-group">
      <label for="Position">Position</label>
      <select class="form-control" name="position">
        <option>Position 1</option>
        <option>Position 2</option>
        <option>Position 3</option>
        <option>Position 4</option>
        <option>Position 5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="Medal">Medal</label>
      <select class="form-control" name="medal">
        <option>Herald</option>
        <option>Guardian</option>
        <option>Crusader</option>
        <option>Archon</option>
        <option>Legend</option>
        <option>Ancient</option>
        <option>Divine</option>
    </select>
    </div>

    <div class="form-group">
      <label for="Star">Star</label>
      <select class="form-control" name="star">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    </div>

    <div class="form-group">
      <label for="steam">Steam Profile URL</label>
      <input type="text" class="form-control" placeholder="your steam profile URL" name="link_steam">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("partials/_bs_footer") %>
