<%- include("partials/_bs_header", {title: "welcome to 5Rookie"}) %>

<a href="/register">
  <div style= "position: absolute; top:15%; left:15%">
      <img src="<%= objBg.imageLink %>">
  </div>
</a>

<%- include("partials/_bs_footer") %>
